@model RateMyRental.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account"))
{
    <div class="leftCol">
        <div style="width: 50%; margin-left: 25%;">    

        </div>
    </div>
    <div class="rightCol" style="text-align: right;">
        <div style="width: 80%; margin-left: 10%;">
            <div class="row title">
                We just need a little information...
            </div>
            @if (!ViewData.ModelState.IsValid)
            { 
            <div id="validationSummary" class="row validationSummary br">
                @Html.ValidationSummary()
            </div>
            }
            <div class="row br">
                E-mail: @Html.TextBoxFor(m => m.user.email)
            </div>
            <div class="row br">
                Password: @Html.PasswordFor(m => m.user.password)
            </div>
            <div class="row br">
                Confirm Password: @Html.PasswordFor(m => m.password_confirm)
            </div>
            <div class="row br" style="text-align: center; font-size: .8em;">
                @Html.CheckBoxFor(m => m.termsAccept) I have read and accept the @Html.ActionLink("Terms and Conditions", "TermsConditions")
            </div>
            <div class="row br" style="text-align: right;">
                <input type="submit" value="Submit" name="Submit" /> | @Html.ActionLink("Cancel", "Login")
            </div>
        </div>
    </div>
}