@model RateMyRental.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm("ResetPassword", "Account"))
{
    @Html.HiddenFor(m => m.userID)
    
    <div class="leftCol">

    </div>
    <div class="rightCol">
        <div class="row title">
            Please enter your new password below:
        </div>
        @if (!ViewData.ModelState.IsValid)
        {
            <div id="validationSummary" class="row validationSummary br">
                @Html.ValidationSummary()
            </div>
        }
        <div class="row br">
            New Password: @Html.PasswordFor(m => m.newPassword)
        </div>
        <div class="row br">
            Confirm: @Html.PasswordFor(m => m.newPassword_confirm)
        </div>
        <div class="row br" style="text-align: right;">
            <input type="submit" value="Reset Password" /> | @Html.ActionLink("Cancel", "Login")
        </div>
    </div>
}
